/* définition  des fonts */

@font-face {
    font-family: "Antipasto";
    src: url(/fonts/Antipasto-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: "SegoeUI";
    src: url(/fonts/SegoeUI.woff);
}
header{
    border-top: 15px solid rgb(133, 131, 131);
    
}
p{
    font-family: "SegoeUI";
    text-align:justify;
   
}

h1,h5,.h1{
    margin:0;
    padding: 0;
    font-family: "Antipasto";
    font-size: 4em;
    
    
}

/* Styles de navbar */

.navigation{
    border: 4px solid rgb(236,236,236);
    background-color: rgb(248,248,248);
}
@media (max-width: 768px) {
    .navigation ol {
        justify-content: center;
    }
}
.navigation li{
    color: rgb(158, 153, 153);
}
.navigation li:hover{
    color: rgb(26, 25, 25);
}
.carousel-text{
    right:0;
    left:0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgba(83, 82, 82, 0.6);
}
.ligneSeparateur{
    border: 5px solid rgb(228,228,228);
    background-color: rgb(228,228,228) ;

}
#choixProduit .divImage{
    border: 4px solid rgb(200,208,212);
}
#choixProduit h3{
    margin:0;
    padding-top: 20px;
    font-family: "SegoeUI"; 
    font-weight: 200;
    border-bottom: 4px solid rgb(200,208,212);
}
.divImage{
    background-color: rgb(236,236,236);
}
.divImage img{
    padding: 10px;
    width: 100%;
}
#divButtonCliqueIci{
    background: url(/images/fond-book.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.fermerParX{
    border:none;
    background: none;
}
.cliquerIci{
    color: white;
    background: none;
    border: none;
    font-size: 1.2rem;
    margin-top: 4rem;
}  
  /* Le form popup - cache par default */
  .form-popup {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 1;
}
  
  /* styles de form container */
  .form-container {
    margin: 0 auto;
    width: 400px;
    background-color: rgba(255, 255, 255);
  }
  
  /* Champ d'input largeur maximale */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* Faire qqch on focus */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .cancel {
    color: white;
    background-color: red;
    justify-content: right ;
  }
  
  /* Effects hover au bouttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .okButton{
    background-color: green;
    color: white;
  }
  .closeButton{
    display: flex;
    flex-direction: row-reverse;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
     /* Could be more or less, depending on screen size */
  }
  
  /* Boutton close */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
  .articlesEnBas{
    background-color: rgb(248,249,251);
    border: 3px solid rgb(177, 171, 171);
    padding: 10px;
  }
  #myBtn, #myBtnDeux, #buttonBasInfos{
	background:rgb(248,249,251);
	border: 1px solid black;
	padding: 10px;
	font: inherit;
	border-radius: 0.4rem ;
	-webkit-border-radius: 0.4rem ;
	-moz-border-radius: 0.4rem ;
	-ms-border-radius: 0.4rem ;
	-o-border-radius: 0.4rem ;
}
